#page-local-envasyllabus-syllabuspage {
    .small-doghnut-legend,
    .small-doghnut {
        /* stylelint-disable-next-line */
        width: 100% !important;
    }
}

/* Course page */
.local-envasyllabus-course-syllabus {
    .syllabus-title {
        font-weight: bold;
        font-size: x-large;
    }

    .syllabus-header-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 300px;
    }

    .syllabus-data {
        line-height: normal;
        width: auto;

        td {
            border-top: none;
            padding: 4px 8px;

            &.data-value {
                text-align: right;
            }
        }

        tr.highlighted-top {
            td {
                font-size: large;
                font-weight: bolder;
                padding: 0 8px 1em;
            }
        }

        tr.highlighted-bottom td {
            font-size: large;
            font-weight: bolder;
            padding: 1em 8px 0;
        }
    }

    .syllabus-resp {
        padding: 0.5em 0 2em;
    }

    .syllabus-summary {
        margin: 1em auto;
    }

    .graph-header-title {
        display: none;
    }

    .syllabus-desc-container {

        table {
            width: 100%;
            margin-bottom: 20px;
            max-width: 100%;
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;

            td {
                padding: 8px;
                line-height: 20px;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        }

        h4 {
            display: block;
            width: 100%;
        }
    }
}

/* Catalog filters */
.path-local-enva_syllabus div[data-region="catalog-filter"] {
    .fcontainer label {
        margin-bottom: 0;
    }

    .form-autocomplete-selection {
        min-height: 0;
    }

    /* Hide the 'No selection' text */
    .form-autocomplete-selection > .m-1.h-5 {
        display: none;
    }
}

/* Catalog page */
.local-envasyllabus-ccat {
    .cshortname {
        margin-top: -1.5em;
        background-color: #46185f;
    }

    tr.course-row {
        display: table-row;
    }

    .catalog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1em;
        margin-bottom: 4rem;
    }

    .course-card {
        min-height: 25em;
        background: #fff;

        .card-img-top {
            height: 200px;
            width: 100%;
            overflow: hidden;
            .course-img-el {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .course-img {
        background-size: cover;
    }

    .listheader {
        background-color: #46185f;
        color: #fff;
        margin-bottom: 0;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }

    .view-course img {
        width: 1.5em;
        height: 1.5em;
    }

    .course-column {
        width: 50%;
    }

    .acronym-column {
        width: 15%;
    }

    .responsible-column {
        width: 25%;

        .separator:last-child {
            display: none;
        }
    }

    .ects-column {
        width: 10%;
    }

    .table-hover {
        border-collapse: separate;
        border-spacing: 0;

        th.hashelp {
            text-decoration: underline;
            cursor: help;
        }

        tbody tr {
            td {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:first-child {
                    border-left: 1px solid transparent;
                }

                &:last-child {
                    border-right: 1px solid transparent;
                }
            }

            a {
                color: #1d2125;

                &:hover,
                &:focus {
                    color: #1d2125;
                    text-decoration: none;
                }
            }

            &:hover {
                background-color: rgba(149, 45, 152, 0.1);

                td {
                    border-color: rgba(149, 45, 152, 1);
                }
            }
        }
    }
}
