{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_envasyllabus/catalog_chart

    Chart view for catalog courses showing stacked bar chart of programme values per semester

    Example context (json):
    {
        "chartdata": "{}",
        "uniqid": "12345"
    }
}}
<div class="catalog-chart-container">
    <div class="chart-area" id="chart-area-{{uniqid}}">
        <div class="chart-image" role="presentation"></div>
    </div>
</div>

{{#js}}
require([
    'jquery',
    'core/chart_builder',
    'core/chart_output_chartjs',
], function($, Builder, Output) {
    var chartData = {{{chartdata}}};
    var uniqid = "{{uniqid}}";
    var chartArea = $('#chart-area-' + uniqid);
    var chartImage = chartArea.find('.chart-image');

    Builder.make(chartData).then(function(ChartInst) {
        var output = new Output(chartImage, ChartInst);
        // Set fixed bar thickness of 50px for all datasets.
        if (output._config && output._config.data && output._config.data.datasets) {
            output._config.data.datasets.forEach(function(dataset) {
                dataset.barThickness = 50;
            });
            output._chartjs.update();
        }
        return output;
    }).catch(function(error) {
        window.console.error('Chart rendering failed:', error);
    });
});
{{/js}}
