{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
  @template local_envasyllabus/course_syllabus

  Syllabus template

  The purpose of this template is to output the syllabus of a course

  Example context (json):
  {
      "coursedata": {
        "id": 575,
        "fullname": "UC0511 - Autopsie, BioPôle",
        "shortname": "UC0511-AUTOPS",
        "displayname": "Autopsies / BioPôle",
        "summary": "Clinical rotations in the BioPôle and Autopsy units",
        "courseimage": "https://example.com/course-image.png",
        "viewurl": "https://eve.call-learning.io/course/view.php?id=575",
        "category": "Companion animals",
        "visible": true
      },

      "teachers": [
        {
          "fullname": "Bellier Sylvain",
          "email": "sylvain.bellier@vet-alfort.fr"
        },
        {
          "fullname": "Chevallier Lucie",
          "email": "lucie.chevallier@vet-alfort.fr"
        }
      ],

      "managers": [
        {
          "fullname": "Bellier Sylvain",
          "email": "sylvain.bellier@vet-alfort.fr"
        }
      ],

      "headerdata": [
        {
          "class": "highlighted-top",
          "icon": "",
          "title": "Total hours",
          "value": 100.75
        },
        {
          "class": "",
          "icon": "",
          "title": "Lectures (CM)",
          "value": 20.25
        },
        {
          "class": "",
          "icon": "",
          "title": "Tutorials (TD)",
          "value": 18
        },
        {
          "class": "highlighted-top",
          "icon": "ects",
          "title": "ECTS credits",
          "value": 3
        }
      ],

      "competencies": {
        "summary": [
          "Perform and interpret biochemical analyses",
          "Recognize normal and abnormal blood cells",
          "Apply histology and cytology techniques",
          "Carry out a complete animal autopsy"
        ]
      },

      "prerequisites": "Clinical biology basics",

      "evaluation": [
        {
          "name": "Autopsy rotation exam",
          "type": "Written (Moodle)",
          "duration_minutes": 40,
          "coefficient": 1
        },
        {
          "name": "BioPôle rotation exam",
          "type": "Written (Moodle)",
          "duration_minutes": 20,
          "coefficient": 1
        }
      ]
    }

}}

<div class="local-envasyllabus-course-syllabus">
    <div class="syllabus-title-area my-4">
        <div class="mb-2">{{#str}}syllabuspage:title, local_envasyllabus{{/str}}</div>
        <h1 class="syllabus-fullname text-primary">{{coursedata.displayname}}</h1>
        <div class="syllabus-resp text-light">
            {{#str}}syllabuspage:manager, local_envasyllabus{{/str}}: {{{managers}}}
        </div>
    </div>
    {{>local_envasyllabus/course_syllabus_header}}
    <div class="d-flex justify-content-between align-items-center">
        <h3>{{#str}}summary, local_envasyllabus{{/str}}</h3> {{#summary.haseditoption}}{{{summary.editbutton}}}{{/summary.haseditoption}}
    </div>
    <div class="syllabus-summary">
        {{#summary.haseditoption}}
            {{{summary.content}}}
        {{/summary.haseditoption}}
        {{^summary.haseditoption}}
            {{{summary}}}
        {{/summary.haseditoption}}
    </div>
    {{<local_envasyllabus/course_syllabus_collapsible}}
        {{$id}}teachers-{{uniqid}}{{/id}}
        {{$type}}teachers{{/type}}
        {{$title}}{{#str}}syllabuspage:teachers, local_envasyllabus{{/str}}{{/title}}
        {{$editbutton}}
            {{{teachereditbutton}}}
        {{/editbutton}}
        {{$content}}
            <div class="d-flex flex-wrap">
                {{#teachers}}
                    <div class="d-flex teacherbox">
                        {{#userpicture}}
                            <div class="d-flex align-items-center align-self-stretch userpicture flex-shrink-0">
                                {{{ userpicture }}}
                            </div>
                            {{/userpicture}}
                        <div class="flex-grow-1 ms-1">
                            <div>{{ userfullname }}</div>
                            <div>{{{ useremail }}}</div>
                        </div>
                    </div>
                {{/teachers}}
            </div>
        {{/content}}
    {{/local_envasyllabus/course_syllabus_collapsible}}
    {{<local_envasyllabus/course_syllabus_collapsible}}
        {{$id}}competencies-{{uniqid}}{{/id}}
        {{$type}}competencies{{/type}}
        {{$title}}
            {{#str}}syllabuspage:competencies, local_envasyllabus{{/str}}
        {{/title}}
        {{$editbutton}}
            {{{competencies.description.editbutton}}}
        {{/editbutton}}
        {{$content}}
            {{#competencies}}
                <div class="d-flex competency-inner-container">
                    <div>
                        {{{graph}}}
                    </div>
                    <div>
                        {{#description.haseditoption}}
                            {{{description.content}}}
                        {{/description.haseditoption}}
                        {{^description.haseditoption}}
                            {{{description}}}
                        {{/description.haseditoption}}
                    </div>
                </div>
            {{/competencies}}
        {{/content}}
    {{/local_envasyllabus/course_syllabus_collapsible}}
    {{#prerequisites}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}prerequisites-{{uniqid}}{{/id}}
            {{$type}}prerequisites{{/type}}
            {{$title}}
                {{#str}}syllabuspage:prerequisites, local_envasyllabus{{/str}}
            {{/title}}
            {{$editbutton}}
                {{{prerequisites.editbutton}}}
            {{/editbutton}}
            {{$content}}
                {{#prerequisites.haseditoption}}
                    {{{prerequisites.content}}}
                {{/prerequisites.haseditoption}}
                {{^prerequisites.haseditoption}}
                    {{{prerequisites}}}
                {{/prerequisites.haseditoption}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/prerequisites}}
    {{#programme}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}program-{{uniqid}}{{/id}}
            {{$type}}program{{/type}}
            {{$title}}{{#str}}syllabuspage:program, local_envasyllabus{{/str}}{{/title}}
            {{$content}}
                {{{programme}}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/programme}}
    {{#vaq}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}vaq-{{uniqid}}{{/id}}
            {{$type}}vaq{{/type}}
            {{$title}}
                {{#str}}syllabuspage:vaq, local_envasyllabus{{/str}}
            {{/title}}
            {{$editbutton}}
                {{{vaq.editbutton}}}
            {{/editbutton}}
            {{$content}}
                {{#vaq.haseditoption}}
                    {{{vaq.content}}}
                {{/vaq.haseditoption}}
                {{^vaq.haseditoption}}
                    {{{vaq}}}
                {{/vaq.haseditoption}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/vaq}}
    {{#additionalinfos}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}additionalinfos-{{uniqid}}{{/id}}
            {{$type}}additionalinfos{{/type}}
            {{$title}}
                {{#str}}syllabuspage:additionalinfos, local_envasyllabus{{/str}}
            {{/title}}
            {{$editbutton}}
                {{{additionalinfos.editbutton}}}
            {{/editbutton}}
            {{$content}}
                {{#additionalinfos.haseditoption}}
                    {{{additionalinfos.content}}}
                {{/additionalinfos.haseditoption}}
                {{^additionalinfos.haseditoption}}
                    {{{additionalinfos}}}
                {{/additionalinfos.haseditoption}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/additionalinfos}}
</div>
