{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
    @template local_envasyllabus/language_switcher

    Language switcher

    Example context (json):
    {
        "name": "curlang",
        "method": "get",
        "action": "https:\/\/moodle.org\/",
        "classes": "singleselect",
        "label": "<img class=\"icon \" alt=\"Langage\" title=\"Langage\" src=\"https:\/\/moodle.org\/\">",
        "disabled": false,
        "title": null,
        "formid": "single_select_f6514f0ba34c9017",
        "id": "single_select6514f0ba34c9018",
        "attributes": [],
        "params": [],
        "options": [
            {
                "value": "fra",
                "name": "Fran\u00e7ais",
                "selected": false,
                "optgroup": false
            },
            {
                "value": "en",
                "name": "Anglais",
                "selected": false,
                "optgroup": false
            }
        ],
        "labelattributes": [],
        "helpicon": false
    }
}}
<div class="local-envasyllabus-language-switcher d-flex justify-content-end mr-2">
    {{>core/single_select}}
</div>